@charset "UTF-8";
/**
 * Преобразование пикселей в rem на основе переменной с базовым размером шрифта.
 * @param  {number} $px Число пикселей (с единицами измерения или без)
 * @param  {string} Число пикселей, размер контентного шрифта на проекте
 * @return {string} Результат преобразования $px в rem
 */
body {
  padding: 0;
  margin: 0;
  font-family: "Akrobat-Regular", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif; }
  body main {
    background: url("../img/features-bg-mobile.jpg") no-repeat;
    background-position: center 330px;
    background-size: 320px 780px; }

img {
  max-width: 100%;
  height: auto; }

@font-face {
  font-family: "Akrobat-Regular";
  font-weight: normal;
  font-style: normal;
  src: local("Akrobat-Regular"), local("Akrobat-Regular"), url("../fonts/Akrobat-Regular.woff2") format("woff2"), url("../fonts/Akrobat-Regular.woff") format("woff"); }

@font-face {
  font-family: "Akrobat-Bold";
  font-weight: bold;
  font-style: normal;
  src: local("Akrobat-Bold"), local("Akrobat-Bold"), url("../fonts/Akrobat-Bold.woff2") format("woff2"), url("../fonts/Akrobat-Bold.woff") format("woff"); }

@font-face {
  font-family: "Akrobat-SemiBold";
  font-weight: bold;
  font-style: normal;
  src: local("Akrobat-SemiBold"), local("Akrobat-SemiBold"), url("../fonts/Akrobat-SemiBold.woff2") format("woff2"), url("../fonts/Akrobat-SemiBold.woff") format("woff"); }

@font-face {
  font-family: "Akrobat-Light";
  font-weight: normal;
  font-style: normal;
  src: local("Akrobat-Light"), local("Akrobat-Light"), url("../fonts/Akrobat-Light.woff2") format("woff2"), url("../fonts/Akrobat-Light.woff") format("woff"); }

.promo {
  padding-top: 16px;
  padding-bottom: 24px;
  background-color: #F1F4FF;
  color: #7D93DB; }
  .promo__inner {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .promo__grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    outline: 1px dotted aqua !important; }
    .promo__grid > * {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
  .promo__img {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    outline: 1px dotted green; }
  .promo__text {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    outline: 1px dashed red; }
  .promo__item {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    outline: 1px dashed red; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px; }
  .row > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .row__element {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    outline: 1px dotted deeppink; }

.logo--footer {
  padding-top: 12px; }

.card {
  position: relative;
  z-index: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  min-width: 200px;
  padding: 0 15px;
  margin-bottom: 10px;
  outline: 1px dotted blue; }
  .card__inner {
    -ms-flex-positive: 1;
        flex-grow: 1;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    margin-bottom: 10px; }
  .card__img-wrap {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px; }
  .card__img {
    display: block; }
  .card__title {
    margin: 0 0 0;
    font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 16px;
    color: #58595b; }
  .card__title span {
    font-size: 19px; }
  .card__new {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    padding: 5px 10px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    background: #5cb75c;
    transform: translateX(-50%) rotate(-10deg); }
  .card__price {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: auto 0 0;
    font-size: rem(24px);
    font-weight: 700;
    line-height: 1; }
  .card__buy {
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .card__descr-item {
    font-family: "Akrobat-Regular", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 14px;
    color: #58595b;
    border-bottom: 1px solid #58595b; }
  .card__descr-table {
    width: 100%;
    padding-top: 5px;
    border-collapse: collapse; }
  .card__descr-table tbody:nth-child(1) {
    border-top: 1px solid #58595b; }

.cards {
  margin-top: -30px;
  padding-bottom: 15px; }
  .cards__inner {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: 1px dotted blue; }
  .cards__grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    margin-left: 0;
    margin-right: 0; }
    .cards__grid > * {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
  .cards .card {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0; }
  .cards__title {
    font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 25px;
    color: #58595b; }

.btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0 25px;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 32px;
  line-height: 1.5;
  text-decoration: none;
  text-transform: lowercase;
  color: #ffffff;
  border: none;
  background-color: #ed1c24;
  background-image: none;
  cursor: pointer;
  border-radius: 4px;
  z-index: 0; }
  .btn:hover, .btn:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #d71921;
    border-color: #c6c6c6; }
  .btn--intro {
    padding-left: 35px;
    padding-top: 6px;
    padding-right: 5px;
    padding-bottom: 6px;
    font-size: 13px; }
  .btn:visited {
    color: #1a1a1a; }
  .btn:active, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(2, 117, 217, 0.7); }
  .btn--disabled, .btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    color: #1a1a1a;
    background-color: #e6e6e6;
    border-color: #e5e5e5; }
    a.btn--disabled {
      pointer-events: none; }

.page-header {
  margin-bottom: 40px; }
  .page-header__inner {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: 1px dotted green;
    min-height: 63px; }
  .page-header__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: end;
        align-items: flex-end; }

.main-footer {
  margin-top: 25px; }
  .main-footer__inner {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: 1px dotted red;
    max-height: 120px;
    background-color: #a5acb0; }
  .main-footer__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .main-footer__contacts {
    width: 40%; }

.add-cards__inner {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.add-card {
  position: relative;
  z-index: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  min-width: 200px;
  padding: 0 15px;
  margin-bottom: 30px; }
  .add-card__inner {
    -ms-flex-positive: 1;
        flex-grow: 1;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    margin-bottom: 20px; }
  .add-card__img-wrap {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: block;
    margin-bottom: 20px; }
  .add-card__img {
    display: block; }
  .add-card__title {
    margin: 0 0 20px; }
  .add-card__new {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    padding: 5px 10px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    background: #5cb75c;
    transform: translateX(-50%) rotate(-10deg); }
  .add-card__price {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: auto 0 0;
    font-size: rem(24px);
    font-weight: 700;
    line-height: 1; }
  .add-card__buy {
    -ms-flex-negative: 0;
        flex-shrink: 0; }

.features__inner {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  outline: 1px dotted green; }

.features__grid {
  list-style: none;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 25px;
  outline: 1px dotted blue; }
  .features__grid > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }

.features__item {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  outline: 1px dotted green;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-bottom: 15px; }

.features__item img {
  width: 28px;
  height: 28px;
  position: relative;
  top: 2px; }

.features__wrap {
  padding-left: 15px; }

.features__title {
  font-size: 17px;
  line-height: 20px;
  font-weight: normal;
  font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  color: #ffffff; }

.features__subtitle {
  font-size: 16px;
  font-weight: bold;
  font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  color: #ffffff;
  margin: 0; }

.features__text {
  font-size: 13px;
  font-weight: normal;
  font-family: "Akrobat-Regular", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  color: #ffffff;
  margin: 0; }

.program__inner {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.social {
  margin-top: -10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 1em;
  padding: 0;
  list-style: none; }
  .social__link-wrap {
    margin-right: 10px; }
  .social__link {
    display: block;
    padding: 3px;
    font-size: 0; }
    .social__link svg {
      display: block;
      width: 16px;
      height: 16px;
      fill: #fff; }
  .social__link--facebook img {
    width: 18px;
    height: 18px; }
  .social__link--instagram img {
    width: 18px;
    height: 18px; }
  .social__link--youtube img {
    width: 48px;
    height: 21px;
    margin-right: 0; }
  .social__text {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; }

.main-nav {
  position: relative; }
  .main-nav__inner {
    outline: 1px dotted pink; }
  .main-nav__list {
    list-style: none;
    padding-left: 0; }
    .main-nav__list:nth-child(1) {
      border-top: 1px solid rgba(100, 100, 100, 0.2); }
  .main-nav__item {
    width: 100%;
    text-align: center;
    padding: 17px 0;
    background-color: #ffffff;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(100, 100, 100, 0.2); }
  .main-nav__link {
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 17px;
    padding-bottom: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #58595b;
    font-family: "Akrobat-Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 18px;
    line-height: 32px; }
    .main-nav__link:hover {
      color: #d71921;
      transition: 0.4s; }
    .main-nav__link:active {
      color: rgba(210, 40, 86, 0.75);
      transition: 0.4s; }
  .main-nav--closed .main-nav__toggle {
    display: block;
    position: absolute;
    content: "";
    left: 239px;
    top: -45px;
    width: 38px;
    height: 27px;
    font-size: 0;
    border: none;
    cursor: pointer;
    background: url("../img/icon-menu-burger.svg") no-repeat; }
    .main-nav--closed .main-nav__toggle:hover {
      background: url("../img/icon-menu-burger-hover.svg") no-repeat;
      transition: 0.4s; }
    .main-nav--closed .main-nav__toggle:active {
      background: url("../img/icon-menu-burger-hover.svg") no-repeat;
      transition: 0.4s;
      opacity: 0.75; }
  .main-nav--opened .main-nav__toggle {
    position: absolute;
    content: "";
    left: 260px;
    top: -48px;
    width: 24px;
    height: 24px;
    font-size: 0;
    border: none;
    cursor: pointer;
    background: url("../img/icon-menu-cross.svg") no-repeat; }
    .main-nav--opened .main-nav__toggle:hover {
      background: url("../img/icon-menu-cross-hover.svg") no-repeat;
      transition: 0.4s; }
    .main-nav--opened .main-nav__toggle:active {
      background: url("../img/icon-menu-cross-hover.svg") no-repeat;
      transition: 0.4s;
      opacity: 0.75; }

.lang-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-right: 60px; }
  .lang-list__link {
    position: relative;
    font-family: "Akrobat-Regular", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #58595b; }
  .lang-list__link--active {
    color: #d8544f !important; }
  .lang-list a:nth-child(1)::after {
    position: absolute;
    content: '';
    top: 95%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #808285; }

.intro__inner {
  max-height: 375px;
  background: url("../img/men-mobile.png") no-repeat;
  background-position: center top;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  outline: 1px dotted blue;
  min-height: 375px; }

.intro button {
  border: none;
  border: 0;
  left: 170px;
  position: relative;
  bottom: 100px; }

.intro button::before {
  position: absolute;
  content: '';
  background: url("../img/hand-icon.png") no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  left: 5px;
  top: 2.5px; }

.intro__titles {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-left: 12px;
  padding-top: 10px; }

.intro__title {
  color: #719ebd;
  text-align: left; }

.intro__title--first {
  font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 26px;
  font-weight: bold; }

.intro__title--second {
  margin-top: -16px;
  font-family: "Akrobat-Bold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 92px;
  font-weight: bold; }

.intro__title--fird {
  margin-top: -35px;
  font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 48px;
  font-weight: bold; }

.advantage {
  margin-top: -25px; }
  .advantage__inner {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: 1px dotted red;
    max-height: 150px; }
  .advantage__grid {
    list-style: none;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    margin: 0;
    padding: 0 20px;
    min-height: 105px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px; }
    .advantage__grid > * {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
  .advantage__image-grid {
    display: none; }
  .advantage__item {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-left: 0;
    padding-right: 0;
    outline: 1px dotted green;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    max-height: 90px; }
  .advantage__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .advantage__title {
    font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: #58595b; }
  .advantage__text {
    display: block;
    font-family: "Akrobat-Regular", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 14px;
    line-height: 15px;
    font-weight: normal;
    color: #58595b;
    letter-spacing: 0.2px;
    text-align: left; }
  .advantage__text--main {
    padding-top: 12px;
    font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    color: #82bfe9;
    font-size: 25px;
    letter-spacing: 0.2px; }

.cost__inner {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  outline: 1px dotted black; }

.cost__grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  position: relative;
  margin: 0;
  border: 1px solid #c0c0c1;
  border-radius: 8px; }
  .cost__grid > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }

.cost__grid .cost__item:nth-child(1)::after {
  position: absolute;
  content: "";
  width: 244px;
  height: 1px;
  background-color: #ababac;
  top: 50%;
  left: 5%; }

.cost__item {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  outline: 1px dotted green;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  min-height: 142px;
  -ms-flex-align: center;
      align-items: center; }

.cost__img {
  width: 110px;
  height: 110px; }

.cost__descriptions {
  width: 45%;
  max-height: 110px;
  margin-top: 5px; }

.cost__number {
  font-family: "Akrobat-Regular", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 28px;
  line-height: 16px;
  font-weight: normal;
  color: #58595b;
  z-index: 1000; }

.cost__cycle {
  font-family: "Akrobat-Regular", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 22px;
  line-height: 16px;
  font-weight: normal;
  color: #58595b; }

.cost__text {
  font-family: "Akrobat-Regular", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #58595b;
  margin: 0;
  padding-left: 10px; }

.cost__subtitle {
  display: block;
  font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 30px;
  color: #58595b;
  font-weight: normal;
  letter-spacing: 0.2px;
  margin: 0; }

.cost__subtitle--blue {
  color: #82bfe9; }

.cost__subtitle--red {
  font-size: 24px;
  color: #d71921;
  font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif; }

.cost__subtext {
  display: none; }

.use__inner {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  outline: 1px dotted green;
  margin-top: 40px; }

.use__grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  margin: 0;
  outline: 1px dotted pink; }
  .use__grid > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }

.use__item {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-bottom: 10px; }

.use__title {
  color: #58595b; }

.use__img-wrap {
  width: 80px;
  height: 77px;
  border: 1px solid #a1a1a2;
  border-radius: 4px; }

.use__text {
  width: 60%;
  font-family: "Akrobat-Regular", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  color: #58595b;
  letter-spacing: 0.2px;
  text-align: left;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.charge {
  margin-top: 50px; }
  .charge__inner {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: 1px dotted green;
    padding-bottom: 10px; }
  .charge__grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px; }
    .charge__grid > * {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
  .charge__item {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
    padding-left: 0;
    padding-right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    min-height: 229px;
    margin-bottom: -15px;
    outline: 1px dotted pink; }
  .charge__title {
    font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 25px;
    line-height: 27px;
    color: #58595b; }
  .charge__text {
    font-family: "Akrobat-Regular", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #58595b;
    text-align: center; }

.video {
  margin-top: 5px; }
  .video__inner {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .video__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; }
  .video .owl-carousel {
    padding-left: 0;
    padding-right: 0; }

.slider__inner {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  outline: 1px dotted blue; }

.slider__title {
  font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #58595b; }

.contact {
  color: #ffffff; }
  .contact__text {
    font-family: "Akrobat-Regular", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 14px;
    line-height: 14px;
    margin-top: 12px; }

.item-video iframe {
  width: 280px;
  height: 158px; }

#owl-2 .owl-item img {
  width: 155px !important;
  height: 75px;
  margin: 0 auto; }

@media (min-width: 320px){
  .promo__inner{
    width: 280px;
    padding-left: 20px;
    padding-right: 20px; }
  .cards__inner{
    width: 280px;
    padding-left: 20px;
    padding-right: 20px; }
  .page-header__inner{
    width: 280px;
    padding-left: 20px;
    padding-right: 20px; }
  .main-footer__inner{
    width: 280px;
    padding-left: 20px;
    padding-right: 20px; }
  .add-cards__inner{
    width: 280px;
    padding-left: 20px;
    padding-right: 20px; }
  .features__inner{
    width: 280px;
    padding-left: 20px;
    padding-right: 20px; }
  .program__inner{
    width: 280px;
    padding-left: 20px;
    padding-right: 20px; }
  .intro__inner{
    width: 280px;
    padding-left: 20px;
    padding-right: 20px; }
  .advantage__inner{
    width: 280px;
    padding-left: 20px;
    padding-right: 20px; }
  .cost__inner{
    width: 280px;
    padding-left: 20px;
    padding-right: 20px; }
  .use__inner{
    width: 280px;
    padding-left: 20px;
    padding-right: 20px; }
  .charge__inner{
    width: 280px;
    padding-left: 20px;
    padding-right: 20px; }
  .video__inner{
    width: 280px;
    padding-left: 20px;
    padding-right: 20px; }
  .slider__inner{
    width: 280px;
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 480px){
  body main{
    background: url("../img/features-bg-tablet.jpg") no-repeat;
    background-position: center 280px;
    background-size: 480px 650px; }
  .promo__inner{
    width: 440px; }
  .promo__img{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 20px;
    padding-right: 20px; }
  .promo__text{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 20px;
    padding-right: 20px; }
  .promo__item{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 20px;
    padding-right: 20px; }
  .row{
    margin-left: 10 px/-2;
    margin-right: 10 px/-2; }
  .row__element{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 5px;
    padding-right: 5px; }
  .cards__inner{
    width: 440px; }
  .cards .card{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0; }
  .page-header__inner{
    width: 440px; }
  .main-footer__inner{
    width: 440px; }
  .add-cards__inner{
    width: 440px; }
  .features__inner{
    width: 440px; }
  .features__item{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 0;
    padding-right: 0; }
  .features__item img{
    width: 28px;
    height: 28px;
    top: 2px;
    left: 5px; }
  .features__title{
    text-align: center; }
  .program__inner{
    width: 440px; }
  .main-nav--closed .main-nav__toggle{
    left: 410px; }
  .main-nav--opened .main-nav__toggle{
    left: 415px; }
  .intro__inner{
    width: 440px; }
  .intro__inner{
    background: url("../img/men-mobile-enhanced.png") no-repeat; }
  .intro button{
    border: 0;
    left: 130px;
    position: relative;
    bottom: 60px; }
  .advantage__inner{
    width: 440px; }
  .advantage__item{
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-left: 0;
    padding-right: 0; }
  .cost__inner{
    width: 440px; }
  .cost__grid .cost__item:nth-child(1)::after{
    width: 350px;
    height: 1px;
    top: 50%;
    left: 10%; }
  .cost__item{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0; }
  .use__inner{
    width: 440px; }
  .use__item{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0; }
  .charge__inner{
    width: 440px; }
  .charge__item{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 0;
    padding-right: 0; }
  .video__inner{
    width: 440px; }
  .video .owl-carousel{
    padding: 0; }
  .slider__inner{
    width: 440px; }
  .item-video iframe{
    width: 440px;
    height: 248px; }
  #owl-2 .owl-item img{
    width: 175px !important;
    height: 85px; } }

@media (min-width: 728px){
  .logo--header{
    margin-left: 35px; }
  .main-nav__item{
    padding: 0; }
  .main-nav__inner{
    padding: 0; }
  .main-nav__item{
    width: 100%;
    text-align: center;
    padding: 17px 0;
    border-top: none; }
  .main-nav__item:last-child{
    margin-right: 0; } }

@media (min-width: 768px){
  body main{
    background: url("../img/features-bg-tablet.jpg") no-repeat;
    background-position: center 460px;
    background-size: 768px 521px; }
  body{
    min-height: 3198px; }
  .promo__inner{
    width: 728px; }
  .promo__img{
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    padding-left: 20px;
    padding-right: 20px; }
  .promo__text{
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    padding-left: 20px;
    padding-right: 20px; }
  .promo__item{
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-left: 20px;
    padding-right: 20px; }
  .row{
    margin-left: 12 px/-2;
    margin-right: 12 px/-2; }
  .row__element{
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-left: 6px;
    padding-right: 6px; }
  .logo--footer{
    padding-top: 25px; }
  .card__img{
    width: 80px;
    height: 125px; }
  .card__title{
    font-size: 13px;
    line-height: 14px; }
  .card__title span{
    font-size: 16px; }
  .cards{
    margin-top: 15px; }
  .cards__inner{
    width: 728px; }
  .cards__inner{
    background: linear-gradient(to bottom, #dfecf7 0%, white 59%); }
  .cards__grid{
    padding-left: 35px;
    padding-right: 35px;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .cards .card{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 0;
    padding-right: 0; }
  .cards__title{
    padding-left: 35px; }
  .btn{
    padding-left: 14px;
    padding-right: 14px;
    font-size: 24px; }
  .btn--intro{
    font-size: 23px;
    bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 60px;
    border-radius: 8px; }
  .page-header{
    margin-bottom: 0; }
  .page-header__inner{
    width: 728px; }
  .page-header__wrapper{
    -ms-flex-align: center;
    align-items: center; }
  .main-footer{
    margin-top: 10px; }
  .main-footer__inner{
    width: 728px; }
  .main-footer__inner{
    max-height: 120px; }
  .main-footer__wrap{
    padding-left: 35px;
    padding-right: 35px; }
  .main-footer__contacts{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row; }
  .add-cards__inner{
    width: 728px; }
  .features__inner{
    width: 728px; }
  .features__inner{
    min-height: 340px; }
  .features__grid{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px; }
  .features__item{
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-left: 0;
    padding-right: 0; }
  .features__item{
    margin-bottom: 22px; }
  .features__item img{
    width: 42px;
    height: 42px;
    top: 3px;
    left: 5px; }
  .features__title{
    text-align: left;
    font-size: 24px;
    margin-top: 36px;
    padding-left: 33px; }
  .features__subtitle{
    font-size: 17px; }
  .program__inner{
    width: 728px; }
  .social{
    margin-top: 0;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -10px; }
  .social__link--facebook img{
    width: 32px;
    height: 32px; }
  .social__link--instagram img{
    width: 32px;
    height: 32px; }
  .social__link--youtube img{
    width: 68px;
    height: 29px; }
  .main-nav__list{
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-left: 25px;
    margin-right: 25px; }
  .main-nav__list:nth-child(1){
    border-top: none; }
  .main-nav__item{
    width: auto;
    background-color: transparent;
    padding: 0;
    box-shadow: none; }
  .main-nav__link{
    font-size: 15px;
    text-transform: lowercase;
    padding: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px; }
  .main-nav__link:hover{
    background-color: #f1f1f2;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  .main-nav--closed .main-nav__toggle{
    display: none; }
  .main-nav--opened .main-nav__toggle{
    display: none; }
  .lang-list{
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 65px;
    margin-top: -13px; }
  .lang-list__link{
    text-transform: lowercase;
    font-size: 16px;
    margin-right: 10px; }
  .lang-list a:nth-child(1)::after{
    top: 55%;
    left: 80%;
    transform: rotate(90deg);
    width: 80%;
    height: 2px; }
  .intro{
    margin-top: -15px;
    position: relative; }
  .intro__inner{
    width: 728px; }
  .intro__inner{
    min-height: 545px;
    background: url("../img/men-tablet.png") no-repeat; }
  .intro button{
    border: 0;
    left: 490px;
    position: relative;
    bottom: 102px; }
  .intro button::before{
    width: 41px;
    height: 41px;
    left: 8px;
    top: 7px; }
  .intro__titles{
    padding-left: 48px; }
  .intro__title--first{
    font-size: 39px;
    padding-top: 20px; }
  .intro__title--second{
    font-size: 132px; }
  .intro__title--fird{
    margin-top: -55px;
    font-size: 71px; }
  .intro__img{
    margin-left: 30px;
    margin-top: -8px;
    display: block; }
  .advantage{
    margin-top: 20px; }
  .advantage__inner{
    width: 728px; }
  .advantage__inner{
    margin-top: 0;
    max-height: 126px; }
  .advantage__grid{
    min-height: 90px;
    max-width: 345px;
    -ms-flex-line-pack: space-evenly;
    align-content: space-evenly; }
  .advantage__image-grid{
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    height: 120px;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    min-width: 300px;
    max-height: 120px;
    margin: 0;
    margin-top: -40px; }
  .advantage__item{
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-left: 0;
    padding-right: 0; }
  .advantage__wrap{
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .advantage__title{
    font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 24px;
    padding-left: 33px; }
  .advantage__text--main{
    font-size: 29px; }
  .cost__inner{
    width: 728px; }
  .cost__inner{
    margin-top: 23px; }
  .cost__grid{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: -10px; }
  .cost__grid .cost__item:nth-child(1)::after{
    width: 93px;
    transform: rotate(90deg);
    left: 43%; }
  .cost__item{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 0;
    padding-right: 0; }
  .cost__item{
    min-height: 124px; }
  .cost__title{
    display: block;
    font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 24px;
    line-height: 22px;
    color: #58595b;
    margin-left: 45px;
    margin-top: 5px; }
  .cost__subtext{
    display: block;
    font-family: "Akrobat-Regular", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 12.5px;
    font-weight: normal;
    letter-spacing: 0.2px;
    padding-left: 35px;
    margin-top: 5px;
    padding-right: 35px; }
  .use{
    margin-top: -25px; }
  .use__inner{
    width: 728px; }
  .use__inner{
    max-height: 235px; }
  .use__grid{
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 35px;
    padding-right: 35px; }
  .use__item{
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 0;
    padding-right: 0; }
  .use__item{
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: end; }
  .use__title{
    padding-top: 25px;
    padding-left: 35px;
    font-family: "Akrobat-SemiBold", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 22px;
    line-height: 16px;
    font-weight: normal; }
  .use__img-wrap{
    width: 120px;
    height: 100px; }
  .use__text{
    width: 100%;
    font-size: 14px; }
  .charge{
    margin-top: 0; }
  .charge__inner{
    width: 728px; }
  .charge__inner{
    background: linear-gradient(to bottom, #dfecf7 0%, white 59%); }
  .charge__grid{
    padding-left: 35px;
    padding-right: 35px; }
  .charge__item{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 0;
    padding-right: 0; }
  .charge__item{
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .charge__title{
    font-size: 20px;
    padding-left: 35px;
    padding-top: 30px; }
  .video{
    margin-top: 25px; }
  .video__inner{
    width: 728px; }
  .video .owl-carousel{
    padding-left: 35px;
    padding-right: 35px; }
  .slider{
    margin-top: 25px; }
  .slider__inner{
    width: 728px; }
  .slider__title{
    padding-left: 35px;
    font-size: 20px;
    margin-bottom: 0;
    padding-top: 20px; }
  .contact{
    -ms-flex-order: 2;
    order: 2; }
  .item-video iframe{
    width: 660px;
    height: 373px; }
  #owl-2 .owl-item img{
    width: 200px !important;
    height: 97px; } }

@media (min-width: 1100px){
  body main{
    background: url("../img/features-bg-desktop.jpg") no-repeat;
    background-position: center 680px;
    background-size: 1100px 662px; }
  body{
    min-height: 4584px; }
  .promo__inner{
    width: 1020px; }
  .promo__img{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 20px;
    padding-right: 20px; }
  .promo__text{
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 20px;
    padding-right: 20px; }
  .promo__item{
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    padding-left: 20px;
    padding-right: 20px; }
  .row{
    margin-left: 16 px/-2;
    margin-right: 16 px/-2; }
  .row__element{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 8px;
    padding-right: 8px; }
  .logo--header{
    margin: 0; }
  .card__inner{
    margin-bottom: 0;
    padding-bottom: 35px; }
  .card__img{
    width: 121px;
    height: 180px; }
  .card__title{
    font-size: 19.4px; }
  .card__descr-item{
    font-size: 17px; }
  .cards{
    margin-top: 63px; }
  .cards__inner{
    width: 1020px; }
  .cards__grid{
    padding-left: 0;
    padding-right: 0; }
  .cards .card{
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    padding-left: 0;
    padding-right: 0; }
  .cards__title{
    font-size: 36px;
    padding-left: 10px; }
  .btn{
    font-size: 37px;
    padding-left: 28px;
    padding-right: 28px;
    line-height: 47px;
    border-radius: 8px; }
  .btn--intro{
    font-size: 36px;
    border-radius: 10px; }
  .page-header__inner{
    width: 1020px; }
  .page-header__inner{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 170px;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .main-footer{
    margin-top: -1px; }
  .main-footer__inner{
    width: 1020px; }
  .main-footer__inner{
    min-height: 185px; }
  .main-footer__wrap{
    padding-left: 0;
    padding-right: 0; }
  .add-cards__inner{
    width: 1020px; }
  .features__inner{
    width: 1020px; }
  .features__inner{
    min-height: 390px; }
  .features__grid{
    margin: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 38px; }
  .features__item{
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-left: 0;
    padding-right: 0; }
  .features__item{
    margin-bottom: 5px; }
  .features__item img{
    width: 64px;
    height: 64px; }
  .features__wrap{
    padding-left: 35px; }
  .features__title{
    text-align: left;
    font-size: 36px;
    margin-top: 65px;
    margin-left: -50px; }
  .features__subtitle{
    font-family: "Akrobat-Regular", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 26px;
    font-weight: normal; }
  .features__text{
    font-size: 14px; }
  .features__text{
    font-size: 14px; }
  .program__inner{
    width: 1020px; }
  .social{
    max-width: 130px;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .social__link--facebook img{
    width: 49px;
    height: 49px; }
  .social__link--instagram img{
    width: 49px;
    height: 49px; }
  .social__link--youtube img{
    width: 104px;
    height: 49px; }
  .main-nav__list{
    padding-top: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main-nav__item{
    background-color: transparent;
    padding: 0;
    margin: 0; }
  .main-nav__link{
    font-family: "Akrobat-Regular", -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 10px; }
  .lang-list{
    margin: 0;
    margin-right: 40px; }
  .lang-list__link{
    margin-right: 15px;
    padding-bottom: 10px;
    font-size: 25px; }
  .lang-list a:nth-child(1)::after{
    top: 12px;
    left: 24px;
    width: 30px;
    height: 2px; }
  .intro{
    margin-top: 0; }
  .intro__inner{
    width: 1020px; }
  .intro__inner{
    min-height: 830px;
    background: url("../img/men-desktop.png") no-repeat; }
  .intro button{
    left: 708px;
    padding-left: 90px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 20px;
    bottom: 180px; }
  .intro button::before{
    width: 66px;
    height: 66px; }
  .intro__titles{
    padding-top: 35px;
    padding-left: 0; }
  .intro__title--first{
    font-size: 60px; }
  .intro__title--second{
    font-size: 212px;
    margin-top: -45px; }
  .intro__title--fird{
    font-size: 110px;
    margin-top: -78px; }
  .intro__img{
    margin-left: 0; }
  .advantage{
    margin: 0; }
  .advantage__inner{
    width: 1020px; }
  .advantage__inner{
    min-height: 220px; }
  .advantage__grid{
    max-width: 550px;
    min-height: 130px;
    -ms-flex-line-pack: distribute;
    align-content: space-around; }
  .advantage__image-grid{
    min-width: 320px; }
  .advantage__image-grid{
    margin: 0;
    width: 434px;
    -ms-flex-align: center;
    align-items: center; }
  .advantage__img{
    width: 120px;
    height: 200px; }
  .advantage__item{
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .advantage__wrap{
    -ms-flex-align: start;
    align-items: flex-start; }
  .advantage__wrap{
    margin-top: 20px;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .advantage__title{
    margin: 0;
    padding: 0;
    font-size: 36px; }
  .advantage__text{
    font-size: 19px;
    line-height: 22px; }
  .advantage__text--main{
    font-size: 46px; }
  .cost__inner{
    width: 1020px; }
  .cost__inner{
    margin-top: 8px; }
  .cost__grid{
    margin: 0;
    min-height: 191px;
    border-left: 1px solid #c0c0c1;
    border-right: 1px solid #c0c0c1;
    border-bottom: 1px solid #c0c0c1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    outline: none; }
  .cost__grid .cost__item:nth-child(1)::after{
    width: 146px; }
  .cost__item{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 0;
    padding-right: 0; }
  .cost__item{
    outline: none; }
  .cost__title{
    margin: 0;
    font-size: 34px;
    padding-top: 15px;
    padding-left: 18px;
    padding-bottom: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #ffffff;
    background-color: #acaaab; }
  .cost__img{
    width: 148px;
    height: 148px; }
  .cost__descriptions{
    width: 35%;
    /* max-height: 110px; */
    /* margin-top: 5px; */
    min-height: 135px; }
  .cost__text{
    font-size: 19.4px;
    line-height: 22px; }
  .cost__subtitle--blue{
    font-size: 41px; }
  .cost__subtitle--red{
    font-size: 40px; }
  .cost__subtext{
    font-size: 14px;
    margin: 0;
    margin-top: 20px;
    margin-left: -40px; }
  .use__inner{
    width: 1020px; }
  .use__inner{
    background-color: #ecf3f8;
    margin-top: 60px;
    max-height: 348px; }
  .use__grid{
    padding-left: 0;
    padding-right: 0;
    margin-top: -10px; }
  .use__item{
    -ms-flex-pack: stretch;
    justify-content: stretch; }
  .use__title{
    font-size: 36px;
    line-height: 50px;
    padding-left: 0; }
  .use__img{
    width: 80%; }
  .use__img-wrap{
    width: 184px;
    height: 152px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px; }
  .use__text{
    font-size: 19.4px; }
  .charge__inner{
    width: 1020px; }
  .charge__grid{
    margin-top: 35px;
    padding-left: 0;
    padding-right: 0; }
  .charge__title{
    font-size: 31px;
    padding-left: 0; }
  .charge__text{
    font-size: 19.4px; }
  .video{
    margin-top: 38px; }
  .video__inner{
    width: 1020px; }
  .video .owl-carousel{
    padding-left: 0;
    padding-right: 0; }
  .slider{
    margin-top: 65px; }
  .slider__inner{
    width: 1020px; }
  .slider__inner{
    min-height: 230px; }
  .slider .owl-carousel{
    margin-top: 25px; }
  .slider__title{
    padding-left: 0;
    padding-top: 30px;
    font-size: 31px; }
  .contact__text{
    font-size: 22px;
    line-height: 25px; }
  .item-video iframe{
    width: 1020px;
    height: 576px; }
  #owl-2 .owl-item img{
    width: 200px !important;
    height: 97px; } }

@media (max-width: 768px){
  .main-nav--opened{
    margin-bottom: 0; }
  .main-nav--closed{
    margin-bottom: -35px; }
  .main-nav--closed .main-nav__item{
    display: none; }
  .main-nav--opened .main-nav__item{
    display: block; }
  .main-nav--nojs .main-nav__toggle{
    display: none; }
  .main-nav--nojs .main-nav__item{
    display: block; }
  .main-nav__item{
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(100, 100, 100, 0.2); }
  .cost__title{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; } }
