@font-face {
  font-family: "Akrobat-Regular";
  font-weight: normal;
  font-style: normal;
  src:
          local("Akrobat-Regular"),
          local("Akrobat-Regular"),
          url("../fonts/Akrobat-Regular.woff2") format("woff2"),
          url("../fonts/Akrobat-Regular.woff") format("woff");
}


@font-face {
  font-family: "Akrobat-Bold";
  font-weight: bold;
  font-style: normal;
  src:
          local("Akrobat-Bold"),
          local("Akrobat-Bold"),
          url("../fonts/Akrobat-Bold.woff2") format("woff2"),
          url("../fonts/Akrobat-Bold.woff") format("woff");
}

@font-face {
  font-family: "Akrobat-SemiBold";
  font-weight: bold;
  font-style: normal;
  src:
          local("Akrobat-SemiBold"),
          local("Akrobat-SemiBold"),
          url("../fonts/Akrobat-SemiBold.woff2") format("woff2"),
          url("../fonts/Akrobat-SemiBold.woff") format("woff");
}


@font-face {
  font-family: "Akrobat-Light";
  font-weight: normal;
  font-style: normal;
  src:
          local("Akrobat-Light"),
          local("Akrobat-Light"),
          url("../fonts/Akrobat-Light.woff2") format("woff2"),
          url("../fonts/Akrobat-Light.woff") format("woff");
}