body {
  padding: 0;
  margin: 0;
  //min-width: 1000px;
  font-family: $font-family;
  //background: url("/_design/battery_mobile.jpg") no-repeat center top;
  min-height: 4366px;
  background-position: center top;
  //background-color: #2aab6d;
}

img {
  max-width: 100%;
  height: auto;
}
//
@media (min-width: $screen-md) {
  body {
    //background: url("/_design/battery_tablet.jpg") no-repeat center top;
    min-height: 3198px;
  }
}

@media (min-width: $screen-lg) {
  body {
    background: url("/_design/battery_desktop.jpg") no-repeat center top;
    min-height: 4584px;
  }
}
