@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// класс для сокрытия элементов

@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


//@mixin container() {
//  width: 320px;
//  margin: 0 auto;
//  //outline: 1px dotted aqua!important;
//
//  @media (min-width: $tablet-widths) {
//    width: 660px;
//  }
//
//  @media (min-width: $desktop-widths) {
//    width: 960px;
//  }
//}

@mixin focus() {
  outline: 0;
  box-shadow: 0 0 0 2px transparentize($color-main, 0.3);
}

@mixin field-focus() {
  $color-main:                hsl(208, 98%, 43%) !default;
  $opacity:                   0.7 !default;

  outline: 0;
  box-shadow: 0 0 0 2px rgba($color-main, $opacity);
}

@mixin hide-text {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin triangle($direction, $width, $height, $color) {
  $top-width: 0;
  $top-color: rgba(0, 0, 0, 0);
  $right-width: 0;
  $right-color: rgba(0, 0, 0, 0);
  $bottom-width: 0;
  $bottom-color: rgba(0, 0, 0, 0);
  $left-width: 0;
  $left-color: rgba(0, 0, 0, 0);

  @if $direction == (to top) {
    $left-width: $width / 2;
    $right-width: $width / 2;
    $bottom-width: $height;
    $bottom-color: $color;
  } @else if $direction == (to top right) or $direction == (to right top) {
    $right-width: $width;
    $right-color: $color;
    $bottom-width: $height;
  } @else if $direction == (to right) {
    $top-width: $height / 2;
    $bottom-width: $height / 2;
    $left-width: $width;
    $left-color: $color;
  } @else if $direction == (to bottom right) or $direction == (to right bottom) {
    $left-width: $width;
    $bottom-width: $height;
    $bottom-color: $color;
  } @else if $direction == (to bottom) {
    $top-width: $height;
    $top-color: $color;
    $left-width: $width / 2;
    $right-width: $width / 2;
  } @else if $direction == (to bottom left) or $direction == (to left bottom) {
    $top-width: $height;
    $left-width: $width;
    $left-color: $color;
  } @else if $direction == (to left) {
    $top-width: $height / 2;
    $bottom-width: $height / 2;
    $right-width: $width;
    $right-color: $color;
  } @else if $direction == (to top left) or $direction == (to left top) {
    $top-width: $height;
    $top-color: $color;
    $right-width: $width;
  } @else {
    $direction: false;

    @warn "Incorrect triangle direction: #{inspect($direction)}";
  }

  @if $direction {
    border-style: solid;
    border-width: $top-width $right-width $bottom-width $left-width;
    border-color: $top-color $right-color $bottom-color $left-color;
    width: 0;
    height: 0;
  }
}
