.advantage {
  margin-top: -25px;

  @media (min-width: $screen-md) {
    margin-top: 20px;
  }

  @media (min-width: $screen-lg) {
    margin: 0;
  }

  &__inner {
    @include container;
    //outline: 1px dotted red;
    max-height: 150px;

    @media (min-width: $screen-md) {
      margin-top: 0;
      //min-height: 130px;
      max-height: 126px;
    }

    @media (min-width: $screen-lg) {
      min-height: 220px;
    }
  }

  &__grid {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
    //margin-top: -5px;
    padding: 0 20px;
    min-height: 105px;
    @include row;

    @media (min-width: $screen-md) {
      min-height: 90px;
      max-width: 345px;
      //margin: 0;
      align-content: space-evenly;
    }

    @media (min-width: $screen-lg) {
      max-width: 550px;
      min-height: 130px;
      align-content: space-around;
    }
  }

  &__image-grid {
    display: none;
    @media (min-width: $screen-md) {
      display: flex;
      width: 300px;
      height: 120px;
      justify-content: space-evenly;
      min-width: 300px;
      max-height: 120px;
      margin: 0;
      margin-top: -40px;
    }

    @media (min-width: $screen-lg) {
      min-width: 320px;
    }

    @media (min-width: $screen-lg) {
      margin: 0;
      width: 434px;
      align-items: center;
    }
  }

  &__img {

    @media (min-width: $screen-lg) {
      width: 120px;
      height: 200px;
    }
  }

  &__item {
    @include col(xs, 4, 12, 0);
    @include col(sm, 4, 12, 0);
    @include col(md, 4, 12, 0);
    //outline: 1px dotted green;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 90px;

    @media (min-width: $screen-lg) {
      justify-content: space-between;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-around;

    @media (min-width: $screen-md) {
     justify-content:  space-evenly;
    }

    @media (min-width: $screen-lg) {
      align-items: flex-start;
    }

    @media (min-width: $screen-lg) {
      margin-top: 20px;
      justify-content: space-between;
    }
  }

  &__title {
    font-family: $font-family-semibold;
    font-size: 25px;
    font-weight: normal;
    color: $main-text;
    position: relative;

    @media (min-width: $screen-md) {
      font-family: $font-family-semibold;
      font-size: 24px;
      padding-left: 33px;
    }

    @media (min-width: $screen-lg) {
      margin: 0;
      padding: 0;
      font-size: 36px;
    }
  }

  @media (max-width: $screen-md) {
    &__title::after {
      left: 5px;
      top: 130%;
      position: absolute;
      content: "";
      width: 271px;
      height: 1px;
      background-color: #ababac;
    }
  }



  &__text {
    display: block;
    font-family: $font-family;
    font-size: 14px;
    line-height: 15px;
    font-weight: normal;
    color:$main-text;
    letter-spacing: 0.2px;
    text-align: left;

    @media (min-width: $screen-lg) {
      font-size: 19px;
      line-height: 22px;
    }
  }

  &__text--main {
    padding-top: 12px;
    font-family: $font-family-semibold;
    color: $blue-main;
    font-size: 25px;
    letter-spacing: 0.2px;

    @media (min-width: $screen-md) {
      font-size: 29px;
    }

    @media (min-width: $screen-lg) {
      font-size: 46px;
    }
  }

}