.advantage {
  margin-top: 46px;

  @media (min-width: $screen-md) {
    margin-top: 20px;
  }

  @media (min-width: $screen-lg) {
    margin: 0;
  }

  &__inner {
    @include container;
    outline: 1px dotted red;

    @media (min-width: $screen-md) {
      min-height: 130px;
    }

    @media (min-width: $screen-lg) {
      min-height: 220px;
    }
  }

  &__grid {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 105px;
    @include row;

    @media (min-width: $screen-md) {
      min-height: 90px;
      max-width: 370px;
      //margin: 0;
    }

    @media (min-width: $screen-lg) {
      max-width: 550px;
      min-height: 130px;
    }
  }

  &__image-grid {
    display: none;
    @media (min-width: $screen-md) {
      display: flex;
      width: 300px;
      height: 120px;
      justify-content: space-evenly;
      min-width: 300px;
      max-height: 120px;
      margin: 0;
      margin-top: -40px;
    }

    @media (min-width: $screen-lg) {
      margin: 0;
      width: 434px;
      align-items: center;
    }
  }

  &__img {

    @media (min-width: $screen-lg) {
      width: 120px;
      height: 200px;
    }
  }

  &__item {
    @include col(xs, 4, 12, 0);
    @include col(sm, 4, 12, 0);
    @include col(md, 4, 12, 0);
    outline: 1px dotted green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (min-width: $screen-lg) {
      justify-content: space-evenly;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-around;

    @media (min-width: $screen-lg) {
      align-items: flex-start;
    }

    @media (min-width: $screen-lg) {
      margin-top: 20px;
      justify-content: space-between;
    }
  }

  &__title {
    font-family: $font-family;
    font-size: 22px;
    font-weight: normal;

    @media (min-width: $screen-lg) {
      margin: 0;
      font-size: 30px;
    }
  }

  &__text {
    font-family: $font-family;
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    color:$link-color;
    letter-spacing: 0.2px;
    text-align: center;

    @media (min-width: $screen-lg) {
      font-size: 16px;
    }
  }

  &__text--main {
    color: $blue-main;
    font-size: 20px;
    letter-spacing: 0.2px;

    @media (min-width: $screen-md) {
      font-size: 24px;
    }

    @media (min-width: $screen-lg) {
      font-size: 40px;
    }
  }

}