$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.5 !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

//$border-radius:               rem(3px) !default;

.btn {


  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  //padding: $field-padding-vertical  $field-padding-horizontal;
  padding: 0 25px;
  //padding: 5px 10px;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  font-family: $font-family-semibold;
  font-size: 32px;
  line-height: $line-height;
  text-decoration: none;
  text-transform: lowercase;
  color: $btn-text;
  border: none;
  //border-radius: $border-radius;
  //border: 1px solid $gray-lighter;
  background-color: $btn-color;
  background-image: none;
  cursor: pointer;
  border-radius: 4px;
  z-index: 0;

  @media (min-width: $screen-md) {
    padding-left: 14px;
    padding-right: 14px;
    font-size: 24px;
  }

  @media (min-width: $screen-lg) {
    font-size: 37px;
    padding-left: 28px;
    padding-right: 28px;
    line-height: 47px;
    border-radius: 8px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $btn-text;
    background-color: $red-danger;
    //background-color: darken($gray-lightest, 10%);
    border-color: darken($gray-lighter, 12%);

  }

  &--intro {
    padding-left: 35px;
    padding-top: 6px;
    padding-right: 5px;
    padding-bottom: 6px;
    font-size: 13px;

    @media (min-width: $screen-md) {
      font-size: 23px;
      bottom: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 10px;
      padding-left: 60px;
      border-radius: 8px;
    }

    @media (min-width: $screen-lg) {
      font-size: 36px;
      border-radius: 10px;

    }
  }

  &:visited {
    color: $text-color;
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }
}
