.card {

  //$block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  padding: 0 15px;
  margin-bottom: 10px;
  outline: 1px dotted blue;

  &__inner {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;

    @media (min-width: $screen-lg) {
      margin-bottom: 0;
      padding-bottom: 35px;
    }
  }

  &__img-wrap {
    flex-shrink: 0;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__img {
    display: block;

    @media (min-width: $screen-md) {
      width: 80px;
      height: 125px;
    }
    @media (min-width: $screen-lg) {
      width: 121px;
      height: 180px;
    }
  }

  &__title {
    margin: 0 0 0;
    font-family: $font-family-semibold;
    font-size: 16px;
    color: $main-text;

    @media (min-width: $screen-md) {
      font-size: 13px;
      line-height: 14px;
    }

    @media (min-width: $screen-lg) {
      font-size: 19.4px;
    }
  }

  &__title span {
    font-size: 19px;

    @media (min-width: $screen-md) {
      font-size: 16px;
    }
  }

  &__new {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    padding: 5px 10px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    background: $color-success;
    transform: translateX(-50%) rotate(-10deg);
  }

  &__price {
    flex-shrink: 0;
    margin: auto 0 0;
    font-size: $font-size--h3;
    font-weight: 700;
    line-height: 1;
  }

  &__buy {
    flex-shrink: 0;
  }

  &__descr-item {
    font-family: $font-family;
    font-size: 14px;
    color: $main-text;
    //line-height: 21px;

    @media (min-width: $screen-lg) {
      font-size: 17px;
    }
  }

  &__descr-table{
    width: 100%;
    padding-top: 5px;
  }
}
