.cards {
  margin-top: -30px;
  padding-bottom: 15px;

    @media (min-width: $screen-md) {
      margin-top: 15px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 63px;
    }

  &__inner {
    @include container;
    outline: 1px dotted blue;

    @media (min-width: $screen-md) {
      background: $gradient-color;
    }
  }

  &__grid {
    @include row;
    margin-left: 0;
    margin-right: 0;

    @media (min-width: $screen-md) {
      padding-left: 35px;
      padding-right: 35px;
      justify-content: space-between;
    }

    @media (min-width: $screen-lg) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  & .card {
    @include col(xs, 12, 12, 0);
    @include col(sm, 12, 12, 0);
    @include col(md, 3, 12, 0);
    @include col(lg, 3, 10, 0);
  }

  &__title {
    font-family: $font-family-semibold;
    font-size: 25px;
    color: $main-text;

    @media (min-width: $screen-md) {
      padding-left: 35px;
    }

    @media (min-width: $screen-lg) {
      font-size: 36px;
      padding-left: 10px;
    }
  }
}
