.cards {
  margin-top: -30px;
  padding-bottom: 15px;

    @media (min-width: $screen-md) {
      margin-top: -15px;
    }

  &__inner {
    @include container;
    outline: 1px dotted blue;
  }

  &__grid {
    //padding: 0;
    @include row;
    margin-left: 0;
    margin-right: 0;

    @media (min-width: $screen-md) {
      padding-left: 35px;
      padding-right: 35px;
      justify-content: space-between;
    }
  }

  & .card {
    @include col(xs, 12, 12, 0);
    @include col(sm, 12, 12, 0);
    @include col(md, 3, 12, 0);
  }

  &__title {
    font-family: $font-family-semibold;
    font-size: 25px;

    @media (min-width: $screen-md) {
      padding-left: 25px;
    }
  }
}
