.charge {
  margin-top: -10px;

    @media (min-width: $screen-md) {
      margin-top: 0;
    }

  &__inner {
    @include container;
    outline: 1px dotted green;
    padding-bottom: 10px;

    @media (min-width: $screen-md) {
      background: $gradient-color;
    }

  }

  &__grid {
    @include row;

    @media (min-width: $screen-md) {
      padding-left: 35px;
      padding-right: 35px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 35px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__item {
    @include col(xs, 6, 12, 0);
    @include col(sm, 6, 12, 0);
    @include col(md, 3, 12, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 229px;
    margin-bottom: -15px;
    outline: 1px dotted pink;

    @media (min-width: $screen-md) {
      justify-content: space-around;
    }
  }

  &__title {
    font-family:  $font-family-semibold;
    font-size: 25px;
    line-height: 27px;
    color: $main-text;
    position: relative;

    @media (min-width: $screen-md) {
      font-size: 20px;
      padding-left: 35px;
      padding-top: 30px;
    }

    @media (min-width:  $screen-lg) {
      font-size: 31px;
      padding-left: 0;
    }
  }

  @media (max-width: $screen-md) {
    &__title::after {
      left: 5px;
      top: 130%;
      position: absolute;
      content: "";
      width: 271px;
      height: 1px;
      background-color: #ababac;
    }
  }

  &__text {
    font-family: $font-family;
    font-size: 14px;
    font-weight: normal;
    color: $main-text;
    text-align: center;

    //@media (min-width: $screen-md) {
    //  text-align: center;
    //}

    @media (min-width: $screen-lg) {
      font-size: 19.4px;
    }
  }
}