.charge {
  margin-top: 50px;

  &__inner {
    @include container;
    outline: 1px dotted green;
    padding-bottom: 10px;
  }

  &__grid {
    @include row;
  }

  &__item {
    @include col(xs, 6, 12, 0);
    @include col(sm, 6, 12, 0);
    @include col(md, 3, 12, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 229px;
    margin-bottom: -15px;
    outline: 1px dotted pink;
  }

  &__title {
    font-family:  $font-family;
    font-size: 25px;
    line-height: 27px;
  }

  &__text {
    font-family: $font-family;
    font-size: 14px;
    font-weight: normal;
  }
}