.cost {
  //margin-top: 25px;

  &__inner {
    @include container;
    outline: 1px dotted black;

    @media (min-width: $screen-md) {
      margin-top: 23px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 8px;
    }
  }

  &__grid {
    //list-style: none;
    //padding-inline-start: 0;
    @include row;
    margin: 0;

    @media (min-width: $screen-md) {
      margin-left: 35px;
      margin-right: 35px;
      margin-top: -10px;
    }

    @media (min-width: $screen-lg) {
      margin: 0;
      min-height: 191px;
      border-left: 1px solid #acaaab;
      border-right: 1px solid #acaaab;
      border-bottom: 1px solid #acaaab;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      outline: none;
    }
  }

  &__item {
    @include col(xs, 12, 12, 0);
    @include col(sm, 12, 12, 0);
    @include col(md, 6, 12, 0);
    @include col(lg, 6, 12, 0);
    outline: 1px dotted green;
    display: flex;
    justify-content: space-evenly;
    min-height: 142px;
    align-items: center;

    @media (min-width: $screen-md) {
      min-height: 124px;
    }

    @media (min-width: $screen-lg) {
      outline: none;
    }
  }

  &__title {
    @media (max-width: $screen-md) {
      @include visually-hidden;
    }



    @media (min-width: $screen-md) {
      display: block;
      font-family: $font-family-semibold;
      font-size: 24px;
      line-height: 22px;
      color: $main-text;
      margin-left: 45px;
      margin-top: 5px;

    }

    @media (min-width: $screen-lg) {
      margin: 0;
      font-size: 34px;
      padding-top: 15px;
      padding-left: 18px;
      padding-bottom: 10px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      color: $main-text-inverse;
      background-color: #acaaab;
    }
  }

  &__img {
    width: 110px;
    height: 110px;

    @media (min-width: $screen-lg) {
      width: 148px;
      height: 148px;
    }
  }

  //&__circle {
  //  width: 110px;
  //  height: 110px;
  //  position: relative;
  //
  //}

  //&__circle::after {
  //  top: 0;
  //  content: "";
  //  position: absolute;
  //  width: 110px;
  //  height: 110px;
  //  background-color: green;
  //  border-radius: 50%;
  //  z-index: 100;
  //}

  &__descriptions {
    width: 45%;
    max-height: 110px;
    margin-top: 5px;
    //display: flex;
    //flex-direction: column;
    //align-items: center;

    @media (min-width: $screen-lg) {
      width: 35%;
      /* max-height: 110px; */
      /* margin-top: 5px; */
      min-height: 135px;
    }
  }

  &__number {
    font-family: $font-family;
    font-size: 28px;
    line-height: 16px;
    font-weight: normal;
    color: $link-color;
    z-index: 1000;
  }

  &__cycle {
    font-family: $font-family;
    font-size: 22px;
    line-height: 16px;
    font-weight: normal;
    color: $link-color;
  }


  &__text {
    font-family: $font-family;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: $main-text;
    margin: 0;
    padding-left: 10px;

    @media (min-width: $screen-lg) {
      font-size: 19.4px;
      line-height: 22px;
    }
  }

  &__subtitle {
    display: block;
    font-family: $font-family-semibold;
    font-size: 30px;
    color: $main-text;
    font-weight: normal;
    letter-spacing: 0.2px;
    margin: 0;

  }

  &__subtitle--blue {
     color: $blue-main;

    @media (min-width: $screen-lg) {
      font-size: 41px;
    }
  }

  &__subtitle--red {
    font-size: 24px;
    color: $red-danger;
    font-family: $font-family-semibold;

    @media (min-width: $screen-lg) {
      font-size: 40px;
    }
  }

  &__subtext {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      font-family: $font-family;
      font-size: 12.5px;
      font-weight: normal;
      letter-spacing: 0.2px;
      padding-left: 35px;
      margin-top: 5px;
      padding-right: 35px;
    }

    @media (min-width: $screen-lg) {
      font-size: 14px;
      margin: 0;
      margin-top: 20px;
      margin-left: -40px;
    }

  }
}