.intro {
  @media (min-width: $screen-md) {
    margin-top: -15px;
    position: relative;
  }

  &__inner {

    background: url("../img/men-mobile.png") no-repeat;
    width: 320px;
    height: 347px;

    @include container;
    outline: 1px dotted blue;
    min-height: 375px;

    @media (min-width: $screen-md) {
        min-height: 545px;
        background: url("../img/men-tablet.png") no-repeat;
        width: 768px;
        height: 610px;
    }

    @media (min-width: $screen-lg) {
      min-height: 830px;
      background: url("../img/men-desktop.png") no-repeat;
      width: 1200px;
      height: 836px;
    }
  }

  & button {
    border: none;
    border: 0;
    left: 170px;
    position: relative;
    bottom: 100px;
  }

  & button::before {
    position: absolute;
    content: '';
    background: url("../img/hand-icon.png")no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    left: 5px;
    top: 2.5px;

  }

  &__titles {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-top: 10px;
  }

  &__title {
    color: $light-blue;
    text-align: left;
  }

  &__title--first {
    font-family: $font-family-semibold;
    font-size: 26px;
    font-weight: bold;
  }

  &__title--second {
    margin-top: -16px;
    font-family: $font-family-bold;
    font-size: 92px;
    font-weight: bold;

  }

  &__title--fird {
    margin-top: -35px;
    font-family: $font-family-semibold;
    font-size: 48px;
    font-weight: bold;
  }
}