.intro {
  @media (min-width: $screen-md) {
    margin-top: -15px;
    position: relative;
  }

  &__inner {

    max-height: 375px;
    background: url("../img/men-mobile.png") no-repeat;
    background-position: center top;

    @include container;
    outline: 1px dotted blue;
    min-height: 375px;

    @media (min-width: $screen-sm) {
      background: url("../img/men-mobile-enhanced.png") no-repeat;
    }

    @media (min-width: $screen-md) {
        min-height: 545px;
        background: url("../img/men-tablet.png") no-repeat;
    }

    @media (min-width: $screen-lg) {
      min-height: 830px;
      background: url("../img/men-desktop.png") no-repeat;
      width: 1200px;
      height: 836px;
    }
  }

  & button {
    border: none;
    border: 0;
    left: 170px;
    position: relative;
    bottom: 100px;

    @media (min-width: $screen-sm) {
      border: 0;
      left: 130px;
      position: relative;
      bottom: 60px;
    }

    @media (min-width: $screen-md) {
      border: 0;
      left: 490px;
      position: relative;
      bottom: 102px;
    }

    @media (min-width: $screen-lg) {
      left: 720px;
      padding-left: 90px;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-right: 20px;
      bottom: 175px;
    }
  }

  & button::before {
    position: absolute;
    content: '';
    background: url("../img/hand-icon.png")no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    left: 5px;
    top: 2.5px;

    @media (min-width: $screen-md) {
      width: 41px;
      height: 41px;
      left: 8px;
      top: 7px;
    }

    @media (min-width: $screen-lg) {
      width: 66px;
      height: 66px;
    }

  }

  &__titles {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-top: 10px;

    @media (min-width: $screen-md) {
      padding-left: 48px;
    }

    @media (min-width: $screen-lg) {
      padding-top: 45px;
    }
  }

  &__title {
    color: $light-blue;
    text-align: left;
  }

  &__title--first {
    font-family: $font-family-semibold;
    font-size: 26px;
    font-weight: bold;

    @media (min-width: $screen-md) {
      font-size: 39px;
      padding-top: 20px
    }

    @media (min-width: $screen-lg) {
      font-size: 60px;
    }
  }

  &__title--second {
    margin-top: -16px;
    font-family: $font-family-bold;
    font-size: 92px;
    font-weight: bold;

    @media (min-width: $screen-md) {
      font-size: 132px;
    }

    @media (min-width: $screen-lg) {
      font-size: 212px;
      margin-top: -45px
    }

  }

  &__title--fird {
    margin-top: -35px;
    font-family: $font-family-semibold;
    font-size: 48px;
    font-weight: bold;

    @media (min-width: $screen-md) {
      margin-top: -55px;
      font-size: 71px;
    }

    @media (min-width: $screen-lg) {
      font-size: 110px;
      margin-top: -78px;
    }
  }

  &__img {

    @media (min-width: $screen-md) {
      margin-left: 30px;
      margin-top: -8px;
      display: block;
    }

    @media (min-width: $screen-lg) {
      margin-left: 46px;
    }
  }
}