.intro {
  @media (min-width: $screen-md) {
    margin-top: -15px;
  }
  &__inner {
    @include container;
    outline: 1px dotted blue;
    //padding-bottom: 250px;
    min-height: 375px;

    @media (min-width: $screen-md) {
      //padding-bottom: 350px;
      min-height: 545px;
    }

    @media (min-width: $screen-lg) {
      min-height: 830px;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-top: 10px;
  }

  &__title {
    color: $light-blue;
    text-align: left;
  }

  &__title--first {
    font-family: $font-family-semibold;
    font-size: 26px;
    font-weight: bold;
  }

  &__title--second {
    margin-top: -16px;
    font-family: $font-family-bold;
    font-size: 92px;
    font-weight: bold;

  }

  &__title--fird {
    margin-top: -35px;
    font-family: $font-family-semibold;
    font-size: 48px;
    font-weight: bold;
  }
}