.lang-list {
  display: flex;
  flex-direction: column;
  margin-right: 60px;

  @media (min-width: $screen-md) {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 65px;
    margin-top: -13px;
  }

  @media (min-width: $screen-lg) {
    margin: 0;
    margin-right: 40px;
  }

  &__link {
    position: relative;
    font-family: $font-family;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $main-text;

    @media (min-width: $screen-md) {
      text-transform: lowercase;
      font-size: 16px;
      margin-right: 10px;
    }

    @media (min-width: $screen-lg) {
      margin-right: 15px;
      padding-bottom: 10px;
      font-size: 25px;
    }
  }

  &__link--active {
    color: $color-danger!important;
  }

  & a:nth-child(1)::after {
    position: absolute;
    content: '';
    top: 95%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(128,130,133,1);

    @media (min-width: $screen-md) {
      top: 55%;
      left: 80%;
      transform: rotate(90deg);
      width: 80%;
      height: 2px;;
    }

    @media (min-width: $screen-lg) {
      top: 12px;
      left: 24px;
      width: 30px;
      height: 2px;
    }
  }
}

