.logo {
  &--header {
    @media(min-width: $container-md) {
      margin-left: 35px;
    }

    @media(min-width: $screen-lg) {
      margin: 0;
      margin-left: -20px;
    }

  }

  &--footer {
    padding-top: 12px;

    @media (min-width: $screen-md) {
      padding-top: 25px;
    }
  }
}