.main-footer {
  margin-top: 25px;

    @media (min-width: $screen-md) {
      margin-top: 0;
    }

    @media (min-width: $screen-lg) {
      margin-top: -1px;
    }

  &__inner {
    @include container;
    outline: 1px dotted red;
    max-height: 120px;
    background-color: $gray-footer;

    @media (min-width: $screen-md) {
      max-height: 120px;
    }

    @media (min-width: $screen-lg) {
      min-height: 185px;
    }

  }

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (min-width: $screen-md) {
      padding-left: 35px;
      padding-right: 35px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__contacts {
    width: 40%;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
    }

  }
}
