.page-header {
  margin-bottom: 40px;
  @media (min-width: $screen-md) {
    margin-bottom: 0;
  }

  &__inner {
    @include container;
    outline: 1px dotted green;
    min-height: 63px;

    @media (min-width: $screen-lg) {
      display: flex;
      flex-direction: column;
      min-height: 170px;
      justify-content: space-around;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (min-width: $screen-md) {
      align-items: center;
    }
  }


}
