.slider {
    @media (min-width: $screen-md) {
      margin-top: 25px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 65px;
    }

  &__inner {
    @include container;
    outline: 1px dotted blue;

    @media (min-width: $screen-lg) {
      min-height: 230px;
    }
  }

  & .owl-carousel {
    @media (min-width: $screen-lg) {
      margin-top: 25px;
    }
  }

   &__title {
     font-family: $font-family-semibold;
     font-size: 16px;
     font-weight: normal;
     color: $main-text;

     @media (min-width: $screen-md ) {
       padding-left: 35px;
       font-size: 20px;
       margin-bottom: 0;
       padding-top: 20px;
     }

     @media (min-width: $screen-lg) {
       padding-left: 0;
       padding-top: 30px;
       font-size: 31px;
     }
   }

  //&__grid {
  //  @include row;
  //  //outline: 1px dotted black;
  //  outline: 1px dotted red!important;
  //}
  //
  //&__item {
  //  @include col(xs, 12);
  //  @include col(sm, 6);
  //  @include col(md, 4);
  //  @include col(lg, 2);
  //  outline: 1px dashed red;
  //}

  //@media (min-width: $screen-sm) {
  //  &__grid>* {
  //    flex-basis: 50%;
  //  }
  //}
  //
  //@media (min-width: $screen-md) {
  //  &__grid>* {
  //    flex-basis: 33%;
  //  }
  //}
}