.social {
  margin-top: -10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  //margin-top: $typo-margin-vertical;
  margin-bottom: $typo-margin-vertical;
  padding: 0;
  list-style: none;

  &__link-wrap {
    margin-right: 10px;
  }

  &__link {
    display: block;
    padding: 3px;
    font-size: 0;
    //background-color: $gray;

    //#{$block-name}__link-wrap--fb & {
    //  background-color: $color-fb;
    //}

    // #{$block-name}__link-wrap--vk & {
    //   background-color: $color-vk;
    // }

    // #{$block-name}__link-wrap--tw & {
    //   background-color: $color-tw;
    // }

    // #{$block-name}__link-wrap--gh & {
    //   background-color: $color-gh;
    // }

    svg {
      display: block;
      width: 16px;
      height: 16px;
      fill: #fff;
    }
  }

  &__link--facebook img {
    width: 18px;
    height: 18px;
  }

  &__link--instagram img {
    width: 18px;
    height: 18px;
  }

  &__link--youtube img {
    width: 48px;
    height: 21px;
    margin-right: 0;
  }

  &__text {
    @include hide-text;
  }
}
