.use {

  @media (min-width: $screen-md) {
    margin-top: -25px;
  }

  &__inner {
    @include container;
    //outline: 1px dotted green;
    margin-top: 40px;

    @media (min-width: $screen-md) {
      max-height: 235px;
    }

    @media (min-width: $screen-lg) {
      background-color: #ecf3f8;
      margin-top: 60px;
      max-height: 348px;
    }
  }

  &__grid {
    @include row;
    margin: 0;
    //outline: 1px dotted pink;

    @media (min-width: $screen-md) {
      flex-direction: row;
      padding-left: 35px;
      padding-right: 35px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 0;
      padding-right: 0;
      margin-top: -10px;
    }
  }

  &__item {
    @include col(xs, 12, 12, 0);
    @include col(sm, 12, 12, 0);
    @include col(md, 5, 25, 0);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
    @media (min-width: $screen-md) {
      flex-direction: column;
      justify-content: end;
    }

    @media (min-width: $screen-lg) {
      justify-content: stretch;
    }

  }

  &__title {
    color: $main-text;
    position: relative;

    @media (min-width: $screen-md) {
      padding-top: 25px;
      padding-left: 35px;
      font-family: $font-family-semibold;
      font-size: 22px;
      line-height: 16px;
      font-weight: normal;
    }

    @media (min-width: $screen-lg) {
      font-size: 36px;
      line-height: 50px;
      padding-left: 0;
    }

  }

  @media (max-width: $screen-md) {
    &__title::after {
      left: 5px;
      top: 130%;
      position: absolute;
      content: "";
      width: 271px;
      height: 1px;
      background-color: #ababac;
    }
  }

  &__img {

    @media (min-width: $screen-md) {
      width: 110px;
    }

    @media (min-width: $screen-lg) {
      width: 80%;
    }
  }

  &__img-wrap {
    width: 80px;
    height: 77px;
    border: 1px solid #a1a1a2;
    border-radius: 4px;

    @media (min-width: $screen-md) {
      width: 120px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (min-width: $screen-lg) {
      width: 184px;
      height: 152px;
      display: flex;
      //justify-content: center;
      //align-items: center;
      border-radius: 8px;
    }

  }

  &__text {
    width: 60%;
    font-family: $font-family;
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    color: $link-color;
    letter-spacing: 0.2px;
    text-align: left;
    display: flex;
    align-items: center;

    @media (min-width: $screen-md) {
      width: 100%;
      font-size: 14px;
    }

    @media (min-width: $screen-lg) {
      font-size: 19.4px;
    }
  }
}